footer {
    .footer-section {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-logo {
            height: 50px;
            width: 50px;
            margin: 2em 0;
        }

        @media screen and (max-width: 40em) {
            p {
                font-size: .8rem;
                margin: 0;
            }
        }
    }
}

