@import "fonts";

:root {
  // Main colours
  --dark-clr: #000;
  --medium-dark-clr: #797979;
  --light-clr: #fff;

  // Button colours
  --btn-border-clr: #fff;
  --btn-hover-bg-clr: #fff;
  --btn-text-clr: #fff;
  --btn-text-hover-clr: #000;

  // Fonts
  --regular-font: "Didot-Regular", serif;
  --medium-font: "Didot-Medium", serif;
  --bold-font: "Didot-Bold", serif;
}

// Generic styling

*,
::before,
::after {
  box-sizing: border-box;
  cursor: none;
}

html,
body {
  padding: 0;
  background-color: var(--dark-clr);
  color: #fff;
  font-family: var(--regular-font);
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

h1 {
  font-family: var(--bold-font);
}

h2 {
  font-size: 2rem;
  font-family: var(--bold-font);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--bold-font);
}

p {
  font-size: 1.3rem;
}

a {
  color: var(--light-clr);
  text-decoration: none;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}

section {
  min-height: 75vh;
}

header,
section {
  padding: 3rem 0;
}

header,
.container {
  margin-inline: auto;
  width: min(85%);
}

.container--narrow {
  max-width: 45rem;
  position: relative;
}

img {
  display: inline-block;
  max-width: 100%;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  color: var(--light-clr);
  font-family: var(--regular-font);
  font-size: 1.35rem;
  padding: 1rem;
}

@media screen and (min-width: 58em) {
  .container--narrow {
    min-width: 58em;
  }

  .section-number {
    position: absolute;
    top: 30%;
    right: 0;
  
    span {
      font-size: calc(3em + 20vw);
      font-family: var(--bold-font);
      font-weight: 900;
      color: rgba(100, 100, 100, 0.2);
      z-index: -2;
    }
  }
}

// Scrollbar Styling

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--dark-clr);
}

::-webkit-scrollbar-thumb {
  background: var(--medium-dark-clr);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--light-clr);
}

// Cursor Styling

@media screen and (min-width: 60em) {
  .cursor {
    width: 3rem;
    height: 3rem;
    background: var(--light-clr);
    border: 2px solid var(--light-clr);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9;
    mix-blend-mode: difference;
    transition: all 0.3s ease;
    transition-property: transform;
    transform-origin: 100% 100%;
  }

  .menu-link-scale {
    transform: scale(2.5);
  }
}

// Header Styling

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-logo span {
    font-size: 5rem;
  }

  .wrapper-menu {
    position: fixed;
    top: 9%;
    right: 9%;
    z-index: 2;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 330ms ease-out;
  }

  .wrapper-menu.open {
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: #fff;
    width: 100%;
    border-radius: 3px;
    height: 4px;
  }

  .line-menu.half {
    width: 50%;
  }

  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }

  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

  .hidden {
    width: 0;
  }
  .menu-link-wrapper {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(20, 20, 20);
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 0;

    a {
      color: var(--medium-dark-clr);
      font-size: calc(2em + 1vw);
      text-decoration: none;
      text-transform: uppercase;
    }

    a:hover {
      color: var(--light-clr);
      transition: 0.5s;
    }
  }

  .menu-open {
    width: 100%;
    transition: 0.5s;
  }

  .menu-close {
    width: 0;
  }
}

// Landing Section Styling

.landing-section {
  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  .contact-btn {
    padding: 2em 0 0;

    a {
      margin: 2em 0;
      border: 2px solid var(--light-clr);
      font-size: 1.5em;
      padding: 0.5em 1em;
    }
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

// About Styling

@media screen and (min-width: 55em) {
  .about-section {
    margin: 0 auto;
    max-width: 500px;
  }
}

// Project Styling

@media screen and (min-width: 60em) {
  .main-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5em 0;

    .img {
      width: 500px;
      height: 500px;
      perspective: 300px;
    }

    .img-wrapper {
      position: relative;
      z-index: 1;
      height: 100%;
      background: black;
      overflow: hidden;
      box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.3);
      transform-style: preserve-3d;
    }

    .img-inner {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
    }

    .img_container {
      width: 100%;
      position: relative;
    }

    .img_container:nth-child(even) {
      margin-right: 0;
      margin-left: auto;
    }

    .mask {
      visibility: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .img-holder {
      transform: scale(1.2);
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: left;
      object-position: 0 -50px;
    }

    .main-block-right {
      max-width: 100%;
    }

    .project-description {
      margin: 0 auto;
      max-width: 400px;
    }
  }
}
